//animation menu//
@keyframes slideUp {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

$nth-child: 1;
@while $nth-child < $nb-slideUp {
  .carte__box__menu:nth-child(#{$nth-child}) {
      animation-delay: (0.2s * $nth-child) + 0.2s;
  }
  $nth-child: $nth-child + 1;
}



//loading-screen animation//
.loading{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 100%;
  position: absolute;
  background: $footerTextColor;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: fadeOut 3s forwards;
  &__screen{
    z-index: 2;
    color: $color-primary;
    font-size: 42px;
    font-family: $police-titre-logo;
    animation: bouncer .4s cubic-bezier(.19,.75,.3,.98) infinite alternate;
  }
  @include tablet-portrait-up{padding-top: 25%;}
  @include desktop-up{padding-top: 25%;}
}

$nth-child: 1;
@while $nth-child < $nb-loading {
  .loading__screen:nth-child(#{$nth-child}) {
    animation-delay: (0.1s * $nth-child) + 0.2s;
    opacity: (.2 * $nth-child) + .2;
  }
  $nth-child: $nth-child + 1;
}

@keyframes bouncer {
  from {transform: translateY(0);}
  to {transform: translateY(-50px);}
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 3;
  } 
  95% {opacity: 1;}
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}



//hearts-animation//
@keyframes hover-heart {
  from {
    opacity: 0;
    transform: scale(.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
