//animation menu//
@keyframes slideUp {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

$nth-child: 1;
@while $nth-child < 5 {
  .carte__box__menu:nth-child(#{$nth-child}) {
      animation-delay: (0.2s * $nth-child) + 0.2s;
  }
  $nth-child: $nth-child + 1;
}

//loading-screen animation//
.loading{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 100%;
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: fadeOut 4.5s forwards;
  &__screen{
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $heart-bg;
    animation: bouncer .4s cubic-bezier(.19,.75,.3,.98) infinite alternate;
  }
  @include tablet-portrait-up{padding-top: 35%;}
  @include desktop-up{padding-top: 25%;}
  
}

$nth-child: 1;
@while $nth-child < 5 {
  .loading__screen:nth-child(#{$nth-child}) {
      animation-delay: (0.1s * $nth-child) + 0.2s;
      opacity: (.2 * $nth-child) + .2;
  }
  $nth-child: $nth-child + 1;
}

@keyframes bouncer {
  from {transform: translateY(0);}
  to {transform: translateY(-100px);}
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 3;
  } 
  80% {opacity: 1;}
  90% {opacity: .2;}
  99% {
    opacity: 0;
    z-index: 3;}

  100% {
    opacity: 0;
    z-index: -3;
  }
}

//hearts-animation//
@keyframes fillAction {
  
}
