.localisation {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding-top: 13px;
    padding-bottom: 14px;
    background-color: rgb(230, 230, 230);
    border-top: 1px solid rgb(187, 187, 187);
    gap: 10px;
    align-items: center;
    @include desktop-up {

    }
}

.fa-location-dot{
    height: 20px;
    font-size: 22px;
    padding: 5px;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: lighten($bg-color,6%);
    &__titre{
        width: 75%;
        margin: auto;
        margin-top: 45px;
        margin-bottom: 18px;
        text-align: center;
    }
    &__texte{
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 22px;
        color: grey;   
        @include desktop-up {
            font-size: 28px;
        }
    }
}

.img__presentation{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.menus{
    width: 100%;
    margin: auto;
    background: $bg-color;
    border-radius: 30px 30px 0 0;
    &__global{
        width: 90%;
    margin: auto;
    padding-bottom: 50px;
    &__titre{
        display: flex;
        justify-content: space-between;
    }
    }
}

.carte{
    &__box{
        &__menu{
            width: 100%;
            margin: auto;
            margin-bottom: 20px;
            padding: 10px;
            justify-content: center;
            border-radius: 15px 15px 15px 15px;
            box-shadow: 2px 7px 10px $color-shadow;
            background: white;
            box-shadow: 2px 7px 10px $color-shadow;
            &__price{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
.btn{
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
}