footer{
    width: 100%;
    background-color: $color-quaternary;
}
.about{
    @include AutoCenter90;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $footerTextColor;
    &__more{
        &__blocks{
            display: flex;
            align-items: center;
            gap: 15px;
            color: $footerTextColor;
            @include tablet-portrait-up {
                flex-grow: 1;
            }
            @include desktop-up {
                display: flex;
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
        &__icone{
            font-size: 15px;
            width: 15px;
        }
    @include tablet-portrait-up {
        display: flex;
        flex-grow: 1;
    }
    @include desktop-up {
        display: flex;
        flex-grow: 1;
    }
    }
@include tablet-portrait-up {
    width: 95%;
}
@include desktop-up {
    padding-bottom: 40px;
    h3 { font-size: 30px; }
}
}