header{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.big__logo{
    width: 200px;
    display: block;
    margin: auto;
    @include desktop-up {
        margin: 0%;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 400px;
    }
}