.navigation{
    padding-bottom: 50px;
    background: $light-bgColor;
    @include desktop-up {
        margin-top: 70px;
        padding-bottom: 200px;
    }
}
.restaurants{
    @include AutoCenter90;
    display: flex;
    flex-direction: column;
    &__liste{
        width: 100%;
        &__block{
            width: 100%;
            margin-bottom: 30px;
            justify-content: center;
            border-radius: $restoRadius;
            box-shadow: $restoShaddow $color-shadow;
            position: relative;
            background: $footerTextColor;
            &__new{ @include new-tag }
            &__image{
                align-items: center;
                height: 220px;
                width: 100%;
                object-fit: cover;
                border-radius: $imgRadius;
            @include desktop-up { height: 250px; }  
            }
        @include tablet-portrait-up {
            width: 45%; 
            margin-bottom: 80px; 
        }
        @include desktop-up {
            flex-grow: 1;
            gap: 20px;
            max-width: 45%;
            height: 330px;
            margin-bottom: 7%;
        }  
        }
    @include tablet-portrait-up {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include desktop-up { width: 100%; }
    }
}
.resto__presentation{
    width: 90%;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    &__texte{
        color: black;
        padding: 10px;
    }
    &__icone{
        align-self: center;
        cursor: pointer;
        color: $color-quaternary;
        width: 37px;
        height: 37px;
        overflow: hidden;       
        &__heart-icone{
            font-size: 36px;
            align-self: center;
            @include click-icon;  
        }
    }
}

