.restaurants{
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    &__liste{
        width: 90%;
        margin: auto;
    }
}
.resto-presentation-texte{

}
.resto-presentation{

    display: flex;
}
.resto-image{
    height: 150px;
    width: 200px;
}