body {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  font-weight: bolder;
}

h4 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 5px;
}

.navigation {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .navigation {
    margin-top: 70px;
    margin-bottom: 200px;
  }
}

.restaurants {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.restaurants__liste {
  width: 100%;
}
.restaurants__liste__block {
  width: 100%;
  margin-bottom: 30px;
  justify-content: center;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 10px rgb(153, 153, 153);
}
.restaurants__liste__block__image {
  align-items: center;
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media (min-width: 1200px) {
  .restaurants__liste__block__image {
    height: 400px;
  }
}
@media (min-width: 481px) {
  .restaurants__liste__block {
    width: 45%;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .restaurants__liste__block {
    width: 45%;
    height: 500px;
    margin-bottom: 5%;
  }
}
@media (min-width: 481px) {
  .restaurants__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .restaurants__liste {
    width: 100%;
  }
}

.resto__presentation {
  width: 99%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.resto__presentation__texte {
  color: black;
  padding: 10px;
}
.resto__presentation__heart-icone {
  padding-top: 20px;
  padding-right: 20px;
}

.explore_button {
  height: 65px;
  width: 270px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 65px;
  padding: 10px;
  align-self: center;
  border: transparent;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 1px 3px 10px rgb(158, 158, 158);
  background: #FF79DA;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

header {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.big__logo {
  width: 200px;
  display: block;
  margin: auto;
}
@media (min-width: 1200px) {
  .big__logo {
    margin: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
  }
}

.fonctionnement__titre {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (min-width: 481px) {
  .fonctionnement__titre {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .fonctionnement__titre {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
.fonctionnement__presentation {
  width: 85%;
  margin: auto;
  padding: 0;
}
.fonctionnement__presentation__liste {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 1px 1px 5px rgb(129, 129, 129);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  gap: 10%;
}
.fonctionnement__presentation__liste__texte {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 1200px) {
  .fonctionnement__presentation__liste__texte {
    font-size: 22px;
  }
}
.fonctionnement__presentation__liste__icone {
  font-size: 25px;
  padding: 5px;
  color: grey;
}
@media (min-width: 1200px) {
  .fonctionnement__presentation__liste {
    width: 25%;
  }
}
@media (min-width: 481px) {
  .fonctionnement__presentation {
    width: 90%;
    display: flex;
    gap: 30px;
  }
}

footer {
  width: 101%;
  background-color: rgb(53, 53, 53);
}

.about {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.about__more__blocks {
  display: flex;
  gap: 15px;
  margin: 7px;
  align-items: center;
}
@media (min-width: 1200px) {
  .about__more__blocks {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
.about__more__logo {
  font-family: "Shrikhand", cursive;
  width: 120px;
  color: white;
  margin-bottom: 20px;
}
.about__more__icone {
  padding-top: 8px;
  font-size: 15px;
}
@media (min-width: 1200px) {
  .about__more {
    display: flex;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding-top: 13px;
  padding-bottom: 14px;
  background-color: rgb(230, 230, 230);
  border-top: 1px solid rgb(187, 187, 187);
  gap: 10px;
  align-items: center;
}
.fa-location-dot {
  height: 20px;
  font-size: 22px;
  padding: 5px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: rgb(240, 240, 240);
}
.presentation__titre {
  width: 75%;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 18px;
  text-align: center;
}
.presentation__texte {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 22px;
  color: grey;
}
@media (min-width: 1200px) {
  .presentation__texte {
    font-size: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
