.explore_button{
    height: 50px;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    align-self: center;
    border: transparent;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 3px 10px rgb(158, 158, 158);
    background: $color-secondary;
    color: white;
    font-family: $police-texte;
}