//colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: rgb(53, 53, 53);
$color-shadow: rgb(209, 209, 209);
$color-btn-shadow: rgb(158, 158, 158);
$bg-color: rgb(245, 245, 245);

